/*Typograpy*/
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.25em;
    grid-area: head;

}

a {
    font-size: .725rem;
    text-decoration: none;
    color: black;
}



li {
    list-style-type: none;
   
}

ul {
    display: flex;
    gap: 2em;
}

p{
    line-height: 1.5;
    color: rgb(55, 54, 54);
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "head"
        "main"
        "foot";
}



main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "feat"
        "blg1"
        "blg2"
        "blg3";

} 

.featured {
    grid-area: feat;
}
.blog1 {
    grid-area: blg1;
}
.blog2{
    grid-area: blg2;
}
.blog3{
    grid-area: blg3;
}

/* images*/

.logo-pic {
    width: 10em;
    padding: 0;
}

.featured-blog {
    background-image: url('../images/Pasted\ image\ \(2\).png');
    background-size: cover;
    background-position: center;
    width: auto;
    height: auto;
    color: white;
}

.featured-blog-container {
    padding: .5em 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    width: 80%;
}

.featured-blog-h1 {
    font-size: 1.7rem;
}

.featured-blog-text {
    font-size: 1rem;
    color: white;
}

.featured-blog-img,
.blog-img{
    width: 100%;
    margin: 0 auto;
}

.blog-one {
    padding: 1.5em;
    margin: 0 auto;
    font-size: 1.4em;
}



.blog-container {
    display: flex;
    flex-direction: column;
    gap: .6em;
}

.blog-text {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.view-more-container {
    text-align: center;
    padding: .5em;
}

.view-more{
    text-decoration: underline;
    font-size: 1.2em;
}

footer {
    background: #202020;
    color: white;
    padding: .5em;
    grid-area: foot;
}

.site-footer {
    text-align: center;
    padding: 1.5em;
    color: white;
}


.footer-text {
    color: white;
}


/* styling for the articles page */

.featured-article-h1 {
    font-weight: 900;
    font-size: 1.7rem;
    width: 80%;
}

.article-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0 1em;
    padding: 1em 0;
    grid-area: feat;
}

h2 {
    font-size: 1rem;
    font-weight: 900;
}

.recent-posts {
    text-align: center;
    font-size: 1rem;
    font-weight: 900;
}


/* styles for the about page */

.self-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.about-me-h1 {
    font-size: 2em;
    width: 80%;
}